<h1>Edit content of: <%= @file_name %></h1>

<form action="/<%= @file_name %>" method="post">
  <p>
  <input style="padding: 0 5px 300px" 
         name="content" 
         type="textarea" 
         value="<%= @content %>" 
         size="100"
         autofocus="autofocus">
  </input>
  </p>
  <p><button type="submit">Save Changes</button></p>
</form>
