<ul>
  <% @files.each do |file| %>
    <li>
      <form action="/<%= file %>/edit" method="get">
        <a href="<%= file %>"><%= file %></a>
        <button type="submit">Edit</button>
      </form>
      <form action="/<%= file %>/destroy" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
  <br><br>
  <a href="/new">New Document</a>
</ul>
