<ul>
  <% @files.each do |file| %>
    <li>
      <form action="/data/<%= file %>/edit" method="get">
        <a href="data/<%= file %>"><%= file %></a>
        <button type="submit">Edit</button>
      </form>
    </li>
  <% end %>
</ul>
